.img-slick2 img {
    width: 450px;
}

.slider-item {
    height: 620px;
}

.slider-item1 {
    background-image: url('../images/slider1.png');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

.slider-item2 {
    background-image: url('../images/slider3.png');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

.slick-prev, .slick-next {
    border: 1px solid #595555;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 54%;
}

.slick-prev:hover, .slick-next:hover {
    border-color: #076BFF;
}

.slick-prev {
    left: 13px;
}

.slick-next {
    right: 16px;
}

.slick-prev:before {
    content: url("../images/back.svg");
    fill: #595555;
    Width: 20px;
    Height: 20px;
    opacity: 1;
}


.slick-next:before {
    content: url("../images/next.svg");
    fill: #595555;
    Width: 20px;
    Height: 20px;
    opacity: 1;
}

.accordion {
    max-width: 856px;
}

.accordion .ui-accordion-header {
    position: relative;
}
.accordion .ui-accordion-header-icon {
    content: '';
    position: absolute;
    top: 27px;
    right: 27px;
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url("../images/down.svg") 50% 50% no-repeat;
}
.accordion .ui-accordion-header-active .ui-accordion-header-icon {
    background-image: url("../images/top.svg");
}

.form {
    max-width: 660px;
}